In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
%matplotlib inline

In [2]:
iris = load_iris()

In [3]:
type(iris)

sklearn.utils.Bunch

In [4]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [5]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [78]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df,iris.target,train_size=0.7)

In [8]:
y_test.shape

(45,)

In [14]:
from sklearn.naive_bayes import GaussianNB

In [15]:
gnb = GaussianNB()

In [16]:
gnb.fit(x_train,y_train)

GaussianNB()

In [17]:
y_pred=gnb.predict(x_test)
df=pd.DataFrame({'actual':y_test,'predicted':y_pred})
df

    actual  predicted
0        1          1
1        2          2
2        1          1
3        0          0
4        0          0
5        2          2
6        0          0
7        1          1
8        1          1
9        2          2
10       0          0
11       2          2
12       1          1
13       1          1
14       2          2
15       2          2
16       0          0
17       0          0
18       2          2
19       0          0
20       2          2
21       1          1
22       0          0
23       2          2
24       0          0
25       2          2
26       0          0
27       0          0
28       1          1
29       1          1
30       2          1
31       0          0
32       2          2
33       2          2
34       0          0
35       2          2
36       0          0
37       0          0
38       0          0
39       2          1
40       1          1
41       1          1
42       1          1
43       0          0
44       2          2

In [18]:
gnb.score(x_test,y_test)

0.9555555555555556