# Python notes 2
comparison, logical and arthematic operators, bitwise operator

## Comparison operators

|operators|meaning               |
| ------- | -------------------- |
|==       | equals to            |
|!=       | not equal to         |
|<=       | less than equal to   |
|>=       | greater than equal to|
|<        | less than            |
|>        | greater than         |

 they give boolean output.

In [1]:
a=3>2
type(a)

bool

In [2]:
a

True

In [43]:
'Z' < 'a' #uppercase are less than lower case

True

In [48]:
str1 = 'asdfg'
str2 = 'bweeeeee'
str1 > str2 #as in str1 the first in smaller than st2

False

## Logical operator
|operators|meaning               |
| ------- | -------------------- |
| and | if both are true|
| or | even if either is true|
| not | reverses it (if it' s true gives false)|
| is not | if values of both variables aren't same then gives true|
| is ||
| in ||

they also give boolean output

In [39]:
a=5
if not (a == 6):
    print('that means a is not 6 so not changes false to true')

that means a is not 6 so not changes false to true

In [4]:
if 3>2 and 8<9:
    print('both are true so this statement was excuted')

both are true so this statement was excuted

In [5]:
if 2>3 or 8<9:
    print('as one of the statement were true so excuted')

as one of the statement were true so excuted

In [6]:
True and True

True

In [7]:
not True

False

In [8]:
True or False

True

In [10]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]
print(a is b) # both are different list thats why a is not b
a == b        # dispite being different list both have same values so are equal

False

True

In [9]:
print(id(a),id(b),sep="\n") # both have different id's proof they are different lists

2140283962368
2140283179200

In [16]:
# as strings are immutable so differents id's aren't created with objects having same value
x = "monik"
y = "monik"
x is y

True

In [17]:
print(id(x),id(y),sep="\n")

2140284366512
2140284366512

![alt text](string(is).PNG)
![alt text](list(is).PNG)

In [2]:
# is and  == don't work in the same way
lst1 = list()
lst2 = list()
print(lst1 is lst2) # not pointing to the same value, as list are immutable
print(lst1 == lst2) # but the values are equal

False
True

## Arthematic operator

in string only the plus operator works...rest operstors won't work will throw a error<br>they follow precedence


| precedence | operator |
| -------- | ---------- |
| paranthesis |( )|
| exponent | ** |
| divide or multiply | / or * |
| add or sub | + or - |

In [49]:
name = 'monik'
surname = " garg"
name + surname

'monik garg'

In [ ]:
name-surname #run to check

In [11]:
a = 4/3 #gives float as answer
print(a)

1.3333333333333333

In [12]:
type(a)

float

In [2]:
#also known as floor divide
b = 4//3 #gives interger as answer if both are integer
print(b)

1

In [7]:
#but if floor divide used and any of them is not integer the gives float output but discards the decimal and just shows zero in
#decimal place
c = 18.0//4
c

4.0

In [6]:
18//4.0

4.0

In [5]:
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>

In [15]:
2**4 #gives answer to 2 as base and 4 ans exponent

16

In [16]:
14%4 #gives reminder

2

In [17]:
x=1
while x < 50:
    x+=5 #over here it's equivalent to x = x + 5
    print(x)

6
11
16
21
26
31
36
41
46
51

similar to above statement it works for all arithematic operators '-', '%', '/', '*'

In [37]:
x=40
for i in (1,3):
    x//=4
    print(x)

10
2

In [38]:
x=4
for i in (1,3):
    x**=2
    print(x)

16
256