# Python notes 1
datatypes, type casting

## 1. Data types

### 1.1. Numeric data

It consist of integer, float and complex only.<br/>In Python there is no limit to how long an integer value can be and saves both +ve and -ve whole numbers don't need to specify signed or unsigned.<br/>
Whereas numpy offeres greater vareity of data types as double, single, long double, etc. to check in documnetation clink on the given link
[numpy doc for data types](https://numpy.org/devdocs/user/basics.types.html).<br/>

In [12]:
# example for complex

a = 3 + 2j #complex no. = (real no.) + (img no.)j
type(a) #used to determine the data type

complex

In [65]:
a = complex(input())
a.real

4+7j

4.0

In [71]:
a.conjugate()

(4-7j)

In [68]:
print(type(a),a,sep="\n")

<class 'complex'>
(4+7j)

to get information about float that max number it can save, max decimals it save etc used <code>sys.float_info</code> and <code>import sys</code> beforehand then call the attribute required to exact following info check the [attribute here](https://docs.python.org/3/library/sys.html).

In [4]:
import sys
sys.float_info.dig #tells max no. of decimal

15

In [5]:
from sys import float_info
float_info.dig

15

### 1.2. Boolean

It consist of two inbuilt values <code>True</code> and <code>False</code>, and happen to be keywords so can't be assinged as function or variable name. <code>True</code> in interger in denoted as 1 and <code>False</code> as 0.<br/> true and false aren't booleans.<br/>Some inbuilt functions and even logical operator provied boolean output.

In [ ]:
# example for boolean
a = True 
type(a)

In [ ]:
type(False)

In [ ]:
type(3>2)

In [6]:
a=3>2
a+1 #even can perform arthematic operation on it as True also means 1.

2

In [ ]:
#can't add with other string as True is not sting
"it's "+a+" that u are one big *******"
#run it will throw a error

In [ ]:
c = true #as they are not boolean and neither string so python gives error
type(true)
#run it will throw a error

In [ ]:
cold = False
hot = True
if cold:  # this wasn't excuted as it had False value
    print("it's very cold nowdays")
elif hot:
    print("nope it's damn hot")

### 1.3. Dictionaries

it has a key-value pair<br>
are mutable<br>
keys have to be unique for each value while values can be same<br>
similar to list just as index have here key and can perform operations onto it<br>
also known as associative arrays


###### keys can be any immutable data type as number, string and tuple......can't be list (as is mutable)

In [1]:
y = {"a":"sadad","s":"adad","a":"sdfsa"}
y #had same key so the first got overwritten by the second occurrence

{'a': 'sdfsa', 's': 'adad'}

In [5]:
food = dict()
food["fav pasta"] = "pink sauce"
food["fav rice"] = "fried schezwan egg rice"
food["fruit"] = "watermelon"
food

{'fav pasta': 'pink sauce',
 'fav rice': 'fried schezwan egg rice',
 'fruit': 'watermelon'}

In [33]:
food["fruit"] = food["fruit"] + " and sunmelon"
food["fruit"]

'watermelon and sunmelon'

In [8]:
marks = {"sem1":6.92,"sem2":6.32,"sem3":7.61,"sem4":6.7,"sem5":6.3,"sem6":7.32}
sum(marks.values())

41.17

In [35]:
i = "fav pasta" # can use in operator for keys but not for values
if i in food:
    print(food[i])

pink sauce

In [28]:
for keys in marks:
    print(keys, marks[keys])
print("")
print("other way")
for k,v in marks.items():
    print(k,v) #gives tuples of each pair in a list

sem1 6.92
sem2 6.32
sem3 7.61
sem4 6.7
sem5 6.3
sem6 7.32

other way
sem1 6.92
sem2 6.32
sem3 7.61
sem4 6.7
sem5 6.3
sem6 7.32

In [11]:
print(list(marks))
print(list(marks.values()))
print(list(marks.keys()))
print(list(marks.items()))
print(marks.get("sem3"))

['sem1', 'sem2', 'sem3', 'sem4', 'sem5', 'sem6']
[6.92, 6.32, 7.61, 6.7, 6.3, 7.32]
['sem1', 'sem2', 'sem3', 'sem4', 'sem5', 'sem6']
[('sem1', 6.92), ('sem2', 6.32), ('sem3', 7.61), ('sem4', 6.7), ('sem5', 6.3), ('sem6', 7.32)]
7.61

In [5]:
food = {"fav":"pizza","drink":"freak shake"}
food.update(fav="cheese burst pizza")
food

{'fav': 'cheese burst pizza', 'drink': 'freak shake'}

###### to delete all items of dictionary

In [19]:
# to clear the dictionary use clear method
food.clear()
food

{}

###### to delete key-value pair together from dictonary

In [31]:
# delete a key, value from dictionary
del marks["sem4"]
marks

{'sem1': 6.92, 'sem2': 6.32, 'sem3': 7.61, 'sem5': 6.3, 'sem6': 7.32}

###### Q.1 count the number of entry for each name and add it in dictonary if doesn't exits already?

In [8]:
# solution 1
count = dict()
while True:
    user = input().lower()
    if user == "done":
        break
    if user in count:
        count[user] = count[user] + 1
    else:
        count[user] = 1
print(count)

monik
Monik
Vidi
ViDi
vidi
butterfly
done
{'monik': 2, 'vidi': 3, 'butterfly': 1}

In [11]:
# solution 2 using get method
counts = dict()
while True:
    user = input().lower()
    if user == "done":
        break
    counts[user] = counts.get(user,0) + 1 # if key doesn't exits then sets default value 0 and then adds 1 to it, otherwise
                                          # calls the key and adds one to its value.
print(counts)

monik
monIK
VIDI
viDi
vidhi
vid
done
{'monik': 2, 'vidi': 2, 'vidhi': 1, 'vid': 1}

###### Q2. the max number of word in given file and it count?

In [28]:
name = input("enter file name: ")
fh = open(name)
counter = dict()
for line in fh:
    words = line.split() #list of all words in line
    for word in words:
        counter[word] = counter.get(word,0) + 1 # make counter of all words
        
bigcount = None
bigword = None
for word, count in counter.items():
    if bigcount is None or count > bigcount: #check the max count and then saving the key and value in big word and count
        bigword = word
        bigcount = count
print(bigword, bigcount)

enter file name: mbox-short.txt
Jan 352

###### Q3. print the count and email which send maximun number of emails in the given file

In [ ]:
name = input("Enter file:")
if len(name) < 1 : name = "mbox-short.txt"
handle = open(name)

lst = list()
count = dict()
for line in handle:
    if line.startswith("From "):
        mail = line.split()
        count[mail[1]] = count.get(mail[1],0) + 1
        
bigcount = None
bigword = None

for word, counter in count.items():
    if bigcount is None or counter > bigcount:
        bigword = word
        bigcount = counter
        
print(bigword, bigcount)

### 1.4. Sequence type

sequence is the ordered collection of similar or different data types<br>it further contains 3 types in it<br><br>
<strong>string<br>list<br>tuple</strong>

#### 1.4.1. Strings
defined as sequential collections of characters<br>
a char of length one is string (in python no char data type)<br>can be used to save text, number and character, as long as it's present between single, double or triple quotes.<br>
strings are immutable that's why we save them to other variable when have to change content<br>
the string in quotes follow precedence as given below<br>
''' enter the string '''  <strong>or</strong>  """ enter the string """<br>
 '' enter the string ''<br>
  ' enter the string '<br>

In [4]:
str1 = '''example for precedence, i quote"i said that u are one of those's %@^@$^@^ "'''
print(str1)

example for precedence, i quote"i said that u are one of those's %@^@$^@^ "

In [3]:
dstr1 = """hi name is monik, garg monik"""
print(dstr1)

hi name is monik, garg monik

In [6]:
emp = ""
f1 = " "
print(len(emp))
len(f1)

0

1

means if tripple quote is used can include single and double quote easily, if not do the following done below

In [2]:
print('did u see any movies lately i haven\'t watched like for ever') #in haven't single quotes is used with back slash

did u see any movies lately i haven't watched like for ever

triple quotes used to store multiline string, but it stores it as it is

In [7]:
print('''hi
         monik  
here, what are u doing''') # as monik was intended here so it was printed intended

hi
         monik
here, what are u doing

data slicing is easy here are few examples here<br>it goes upto second argument but doesn't include it

In [15]:
txt = "hi guys, i am learing python and making digital notes as got bad handwriting"
print(txt[5:14:2])       # starts from 5 goes till 14(excluding it) slice data with gap of two indexes

# if [::3] will print all data with gap of 3 indexes, cause it start and end not specfied python prints it all

print(txt[-15:-2])       # if there is a -ve sign it runs backward 
print(txt[:-1])          # -1 is last same as last index so will print til just -2 index
print(txt[::-1])         # print string reverse
print(txt[len(txt)-11:]) # can even write expressions in it as [4+5] will print value at 9th index

y,ia
bad handwriti
hi guys, i am learing python and making digital notes as got bad handwritin
gnitirwdnah dab tog sa seton latigid gnikam dna nohtyp gnirael ma i ,syug ih
handwriting

###### formatted string
3 ways do it all shown below<br>

In [13]:
name, score = input().split()
print(name + " has scored " + score + " in maths test")

monik 9
monik has scored 9 in maths test

In [6]:
name, score = input().split()
txt = f"{name} has scored {score} in maths test"
print(txt)

monik 5
monik has scored 5 in maths test

In [7]:
name, score = input().split()
print("{} has scored {} in maths test".format(name,score))

monik 5
monik has scored 5 in maths test

In [18]:
num = int(input())
origPrice = float(input("enter original price of test series"))
discount = float(input('Enter discount percentage: '))
seller = input("sellers name: ")
newPrice = (1 - discount/100)*origPrice
book = "i bought a {:d} test series of {:.1f} at a discounted price of {} form {} ".format(num,origPrice,newPrice,seller)
print(book)

5
enter original price of test series145.352
Enter discount percentage: 30
sellers name: edusmart
i bought a 5 test series of 145.4 at a discounted price of 101.7464 form edusmart

In [23]:
# using placeholder so doesn't need to be in order
book = "i bought a {a1} test series at a discounted price of {a3:.2f} form {a4:.5s} "\
.format(a3 = newPrice, a4 = seller, a1 = num)                         # .5s allows only 5 characters of string
print(book)

i bought a 5 test series at a discounted price of 101.75 form edusm

In [34]:
# given 3 spaces gap, and 2 digit number so printed from 2 space
print("{}{:>3d}".format("hello",54))

hello 54

In [35]:
print("{}{:>3d}".format("hello",5))

hello  5

In [47]:
# there is a extra space between brackets and that space is the part of string, so if number is every larger then space
# won't consume that space
print("{} {:<5d}{}".format("hello",3,345543))

hello 3    345543

###### Ques. print 1 to n value of integer in decimal, octal, hexdecimal (caps) and binary. each value should be space-padded equal to binary value (hackkerrank)

In [60]:
def print_formatted(number):
    # your code goes here
    space = len("{:b}".format(number))  
    for n in range(1,number+1):
        # like for integer we use d and f for float, similarly for hexadecimal we use x as so on
        print("{:{spac}d} {:{spac}o} {:{spac}x} {:{spac}b}".format(n, n, n, n,spac=space).upper())
x = int(input())
print_formatted(x)

11
   1    1    1    1
   2    2    2   10
   3    3    3   11
   4    4    4  100
   5    5    5  101
   6    6    6  110
   7    7    7  111
   8   10    8 1000
   9   11    9 1001
  10   12    A 1010
  11   13    B 1011

###### concatenation and repetition

In [24]:
let = "z"
let_two = "p"

# concatenation
c = let_two + let 

# repetition
c*5

'pzpzpzpzpz'

##### string have several methods

these removes white spaces from start and end only, doesn't eliminate whitesapce in between text. they are necceasry tabs and spaces in strings

In [4]:
name = '   monik garg  '
print(name.strip()) #removed whitespace from both sides
print(name.lstrip()) #removed whitespace from left side
print(name.rstrip()) #removed whitespace from rigth side
txt1 = '''hi
         monik  
here, what are u doing''' #didn't remove remove whitespace before monik as it has text overhead it
print(txt1.strip())

monik garg
monik garg
   monik garg
hi
         monik
here, what are u doing

In [6]:
#even takes 3 argument as count to replace how many of the, at default count is set at -1 means all
grt = 'hi monik how are u, that''s  cool stuff monik'
print(grt.replace('monik','vidi'))

#total four but given 3 argument just replaced 3 not all
bby = 'hi baby, what u doing baby, congo baby, wahoo that cool stuff baby'
bby.replace('baby','butterfly',3)

hi vidi how are u, thats  cool stuff vidi

'hi butterfly, what u doing butterfly, congo butterfly, wahoo that cool stuff baby'

In [7]:
# return the index of substring baby found first in text
bby.find('baby')

3

In [8]:
# returns number less than 0 if substring of found in string
bby.find("z")

-1

In [21]:
# to count total number od baby in text
# is case-senitive
bby.count("baby")

4

In [ ]:
user = input()
if user.startswith("y"):
    print("cool boss")
else:
    print("your bad man")

In [31]:
gro = "milk,pasta,cheese,veggie,oil,oregano"
lgro = gro.split(",")
gro1 = ", ".join(lgro)

print(type(gro),gro,sep="\t")
print(type(lgro),lgro,sep="\t")
print(type(gro1),gro1,sep="\t")

<class 'str'>	milk,pasta,cheese,veggie,oil,oregano
<class 'list'>	['milk', 'pasta', 'cheese', 'veggie', 'oil', 'oregano']
<class 'str'>	milk, pasta, cheese, veggie, oil, oregano

In [10]:
py = "python rocks"
py[0]*py.index("n") 
# py[0] access value p, then py.index("n") finds n first occurances index, after this we have "p"*5 which outputs to "ppppp"

'ppppp'

In [6]:
print('monik'.ljust(10,'-'))
print('monik'.rjust(10,'-'))

monik-----
-----monik

##### Q1. if want to extract organization name from email given string "hey check your email must have recived it from monikgarg1999@gmail.com"

In [60]:
mail = "hey check your email from chorme.com must have recived it from monikgarg1999@gmail.com "
findIndexOne = mail.find('@')
print(findIndexOne)
findNextIndex = mail.find(".com",findIndexOne) #it found .com after the substring inputed
print(findNextIndex)
mail[findIndexOne+1:findNextIndex] #extarcted the data lying between these substring
                                   #and due +1 it extracted after @ otherwise would have print the data with @ in it

76
82

'gmail'

###### Q2. door mat pattern

In [1]:
n, m = map(int,input().split())
pattern = [('.|.'*(2*i + 1)).center(m, '-') for i in range(n//2)]
print('\n'.join(pattern + ['WELCOME'.center(m, '-')] + pattern[::-1]))

7 21
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

### 1.5 Sets
used when want to store a bunch of elements and be certain that they are only present once....and as dictonary not saved in order....it's like storing the keys of dictionary without values

In [14]:
a = {"greetings",1,"hello",2,"hola",3,"namaste",5}
b = {"greetings",1,"nihao"}

In [17]:
print(a.union(b))
a | b

{1, 2, 3, 'nihao', 5, 'hello', 'hola', 'namaste', 'greetings'}

{1, 2, 3, 5, 'greetings', 'hello', 'hola', 'namaste', 'nihao'}

In [18]:
print(a.intersection(b))
a & b

{1, 'greetings'}

{1, 'greetings'}

In [2]:
x = set([1,2,4,1,2,2,2,3,4,1,2,2,4,5,5,3,2,1,12,3,4,5,5,3,2])
x

{1, 2, 3, 4, 5, 12}

In [5]:
x.add(6)
x

{1, 2, 3, 4, 5, 6, 12}

## 2. Type casting

In [1]:
print(-3.999, int(-3.999))

-3.999 -3

In [5]:
x = 123.45
print(type(x))
print(type(str(x)))
print(x,type(x)) #as we didn't save it on variable its value is still float

x = str(x)
print(x,type(x))

<class 'float'>
<class 'str'>
123.45 <class 'float'>
123.45 <class 'str'>

###### we can't concatenate int with string so we have to  type cast it<br>
###### all integer and float can be type casted into strings but all strings can't be type casted into int and float

In [41]:
print("hello my roll number is " + str(179402081))

hello my roll number is 179402081