# lists and tuples

## lists
it is a sequential collection of Python data values, where each value is identified by an index. And values that make up list are called elements.<br><br>
Range function returns a list

In [5]:
#square are used only to denote lists data type
print(type([5,]))
print(type([5]))

<class 'list'>
<class 'list'>

In [1]:
print(range(5))# retuns a list [0,1,2,3,4] starting from 0 as indexing starts from zero to lenght-1
x = list(range(5))
x

range(0, 5)

[0, 1, 2, 3, 4]

In [2]:
print(len(range(5))) # prove it returns a list

5

In [3]:
print(len(range(2,8)))

6

In [1]:
# to print a list
lst = [1,2,3,4,5]
print(*lst,sep="\n")

1
2
3
4
5

In [5]:
testEx = [1,2,3,4]
testEx.extend([5,6,7,8])
testEx

[1, 2, 3, 4, 5, 6, 7, 8]

#####  concatenation and repetition

In [32]:
names = ["monik","vidhi","divyanshi","rohit"]
num = [3,24,7,17]

# we can concatenate lists just as strings
tog = names + num 
print(tog, names, num, sep="\n")

['monik', 'vidhi', 'divyanshi', 'rohit', 3, 24, 7, 17]
['monik', 'vidhi', 'divyanshi', 'rohit']
[3, 24, 7, 17]

In [22]:
# repetition can also be done
lst = (4)*5
lst1 = [1,2,3]*3
print(lst)
lst1

20

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
# performing concatenation and repetition together
print([1,2,3]+[5]*3)

[1, 2, 3, 5, 5, 5]

##### slicing just works as strings

In [ ]:
empty = list() # other way to create empty list
print(empty)

list are mutable so changes can directly be saved into them

In [33]:
names.sort()
num.sort()
print(names, num ,sep="\n")

['divyanshi', 'monik', 'rohit', 'vidhi']
[3, 7, 17, 24]

In [34]:
print(max(num), min(num), sum(num),sep="\n")
print( sum(num)/len(num), " average is total sum upon total number")

24
3
51
12.75  average is total sum upon total number

###### slicing will always return list no matter the lenght

In [35]:
l = ['w', '7', 0, 9]
m = l[1:2]
print(m)
type(m)

['7']

list

In [36]:
# this is indexing not slicing so will not return a string
l1 = ['w', '7', 0, 9]
m1 = l[1]
print(m)
type(m)

['7']

list

In [9]:
xyz = [1,2,3,4,5,6,7,8,9,10]
xyz

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
xyz[4:8] = []
xyz

[1, 2, 3, 4, 9, 10]

##### add elements to list

In [38]:
x = [1,2,3,4,5,6,7,8]
x.insert(2,5) # insert(index number, value of element)
x

[1, 2, 5, 3, 4, 5, 6, 7, 8]

##### to delete item from list

In [44]:
ax = ["one","two","three","four"]
del ax[1:3]
ax

['one', 'four']

In [46]:
ax.pop(0) # deletes the value at index, if no parameters given then deletes last element
ax

['four']

In [6]:
trav_dest = ['Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'London', 'Melbourne']
trav_dest.remove("London")
trav_dest

['Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'Melbourne']

In [8]:
# deletes all items of that list
trav_dest.clear()
trav_dest

[]

##### more methods

In [48]:
# to reverse the list
g1 = [1,2,3,4,5]
g1.reverse()
g1

[5, 4, 3, 2, 1]

In [50]:
g2 = [1,2,2,1,3,4,1,4,3]
g2.index(3) # returns the index of element specfied on first occurance in list

4

In [51]:
g2.count(1) # Returns the number of occurrences of element

3

##### alias and cloning of list

In [25]:
f1 = [7,8,9]
f2 = [7,8,9]

In [26]:
print(id(f1),id(f2),sep="\n")

1888011195136
1888011455552

In [29]:
f1[1] = "off"
print(f1,f2,sep="\n")

[7, 'off', 9]
[7, 8, 9]

In [30]:
f1 = f2
print(id(f1),id(f2),sep="\n")

1888011455552
1888011455552

In [31]:
f1[1] = "fuck"
print(f1,f2,sep="\n")

[7, 'fuck', 9]
[7, 'fuck', 9]

In [34]:
f3 = ["boi","man","girl"]
f4 = f3[:]
print(id(f3),id(f4),sep="\n")

1888011390720
1888010926336

In [35]:
print(f3,f4,sep="\n")

['boi', 'man', 'girl']
['boi', 'man', 'girl']

In [9]:
fl = ["vidi","chikki"]
fs = fl.copy()
print(id(fl))
id(fs)

2313570469120

2313569338368

<h6>if we take list to perform some task every element added to it occupies memory while if we instead take variable it less much less space as variable can hold just one value at a time</h6>

In [6]:
txt = "hey it's monik,                    here how you doing"
word = txt.split() # counts all spaces are treated as delimiter if not specifed
print(word, word[2:],sep="\n")

['hey', "it's", 'monik,', 'here', 'how', 'you', 'doing']
['monik,', 'here', 'how', 'you', 'doing']

In [ ]:
txt = "hey it's monik,                    here how you doing"
word = txt.split(" ") # as we specifed the delimiter now every space it counted as one
print(word)
print(len(txt),len(word),sep="\n")

###### list comprehension

In [4]:
# store only even number in array using list comprehension
even_arr = [int(x) for x in input().split() if int(x)%2 == 0]
even_arr

2 3 4 5 6 7 8

[2, 4, 6, 8]

###### list rotation

In [3]:
# anticlockwise or left shift rotation
n = int(input())
lst = [10, 20, 30, 40, 50]

# if n is much greater the n so to avoid reductant rotation use this...subtracting won't work is difference in n and soze of
# list is to large example 13-2 = 11 and 13%2 = 1 and 1 is correct as (6*2) + 1 =13
n = n%len(lst)
'''
             EXPLAINATION OF CODE BELOW
temp = lst[0:n]    # save the n number to append at end of list due to rotation
lst[:-n] = lst[n:] # appending the elements after n to starting of the list
lst[-n:] = temp    # now the saved list is appended at end of the list
'''
lst = lst[n:]+lst[:n]

print(lst)

2
[30, 40, 50, 10, 20]

In [1]:
# clockwise or right shift rotation
n = int(input())
lst = list(map(int, input().split()))
n = n%len(lst)
lst = lst[-n:] + lst[:-n] 
  
print(lst)

2
6 5 1 2 3 4
[3, 4, 6, 5, 1, 2]

In [9]:
class m:
    def __init__(self,num,alpha):
        self.num = num
        self.alpha = alpha
        
lst = [m("1","l"),m("2","k")]

<h6>Q1. if want to extract organization name from email</h6><br>
given string "hey check your email must have recived it from monikgarg1999@gmail.com"

In [ ]:
mail = "hey check your email from chorme.com must have recived it from monikgarg1999@openvisionsystems.com "
sep1 = mail.split("@")
sep2 = sep1[1].split(".")
print("this is the organization name in the following text provided ",sep2[0],sep="\n")

<h6>Q2. get all unique words in file and arrange them alphabetically wise</h6>

In [2]:
fh = open("romeo.txt","rt")
lst = list()
for line in fh:
    check = line.split()
    for word in check:
        if word not in lst:
            lst.append(word)
lst.sort()
print(lst)

['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

<h6>Q3. find all mail send from and print it line by line with the count of total mails</h6>

In [3]:
fh = open("mbox-short.txt")
lst = list()
count = 0
for line in fh:
    if line.startswith("From "):
        mail = line.split()
        lst.append(mail[1])
        count+=1
for i in lst:
    print(i)
print("There were", count, "lines in the file with From as the first word")

stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 lines in the file with From as the first word

###### Q6. The highlight_word function changes the given word in a sentence to its upper-case version. For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day". Can you write this function in just one line?

In [10]:
def highlight_word(sentence, word):
    return(" ".join([x.upper() if word in x else x for x in sentence.split()]))
           
    # if-else in list comprehension

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

In [1]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
lst = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n]
print(lst)

1
2
3
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 3], [0, 2, 0], [0, 2, 2], [0, 2, 3], [1, 0, 0], [1, 0, 1], [1, 0, 3], [1, 1, 0], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3]]

## tuples
similar to list just they are not mutable and uses parentheses<br>
same as string just that they are immutable

In [8]:
#parenthese are not just used to denote tuple but also to group expresion so
print(type((4)))
type((3,)) #as it has a comma so it's a collection that is why this is tuple while the one above is not

<class 'int'>

tuple

In [7]:
emp = ()
emp1 = tuple()
print(type(emp))
type(emp1)

<class 'tuple'>

tuple

In [ ]:
names = ("monik","vidi","divi","rohit","shit")
names[:3]

In [25]:
# tuples can be concatenated
at = ("monik","vidi","chiku","chikki")
bt = (1907,9818,1999,1998)
atb =  at+bt
atb

('monik', 'vidi', 'chiku', 'chikki', 1907, 9818, 1999, 1998)

we can't sort, append, reverse tuple

In [6]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [28]:
# to count a particular value
atb = atb + ("1999","monu",1998)
print(atb.count("1999")) 
print(atb.count(1998))
atb.count("m") #don't m as a element in atb tuple

3
4

0

###### tuples are more efficient in terms of memory use and performance than list

In [13]:
# can use tuples to assign values...but for it both sides should have tuple of equal length
(x,y,z) = (3,4,5)
print(x, y, z,sep="\n")

3
4
5

In [18]:
# can compare them
(1,300,46) < (3,250,30) # as the firsts number gives true it returns th value not checking for rest

True

In [22]:
("vidhi") < ("vidi") #cause i is greater then h so true although it larger in length

True

In [23]:
("monik") < ("vidhi")

True

In [25]:
x = (1,5,3,2,5,2,5,8,4,1,4,53)

In [26]:
sorted(x) #to sort can use this returns sorted list of tupple

[1, 1, 2, 2, 3, 4, 4, 5, 5, 5, 8, 53]

In [28]:
y ={"a":1,"w":4,"b":3}
y.items()

dict_items([('a', 1), ('w', 4), ('b', 3)])

In [29]:
sorted(y.items())

[('a', 1), ('b', 3), ('w', 4)]

In [33]:
print(y)
for key,value in sorted(y.items()):
    print(key,value) #it's sorted by key firstly then iterates the loop and prints the key value pair

{'a': 1, 'w': 4, 'b': 3}
a 1
b 3
w 4

In [34]:
tmp = list()
for k, v in y.items():
    tmp.append((v,k)) # appending tuples of value key in list
print(tmp)

sorted(tmp,reverse=True)#sorts by value in reverse order

[(1, 'a'), (4, 'w'), (3, 'b')]

[(4, 'w'), (3, 'b'), (1, 'a')]

###### Q1. top 10 most occuring words in given file

In [45]:
#solution 1
fh = open("mbox-short.txt")
count = dict()
for line in fh:
    words = line.split()
    for word in words:
        count[word] = count.get(word,0) + 1

tmp = list()
for k,v in count.items():
    tmp.append((v,k))

tmp = sorted(tmp, reverse=True)
print("count word")
for i,j in tmp[:10]:
    print(i," ", j)

count word
352   Jan
324   2008
245   by
243   Received:
219   -0500
218   from
203   4
194   with
183   Fri,
136   id

In [49]:
# solution using list comprehension
fh = open("mbox-short.txt")
count = dict()
for line in fh:
    words = line.split()
    for word in words:
        count[word] = count.get(word,0) + 1
        
tmp = sorted( [(v,k) for k,v in count.items()],reverse=True) #putted the list comprehension in sorted function

print("count word")
for i,j in tmp[:10]:
    print(i," ", j)

count word
352   Jan
324   2008
245   by
243   Received:
219   -0500
218   from
203   4
194   with
183   Fri,
136   id

In [53]:
line = "From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008"
hr = line.split(":")

In [55]:
hr[0][-2:]

'09'

###### Q2. count the number of hours in lines like "From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008" and print out the hours and it count?

In [57]:
handle = open("mbox-short.txt")
count = dict()
for line in handle:
    if line.startswith("From "): 
        hr = line.split(":")
        count[hr[0][-2:]] = count.get(hr[0][-2:],0) + 1

for i,k in sorted(count.items()):
    print(i,k)

04 3
06 1
07 1
09 2
10 3
11 6
14 1
15 2
16 4
17 2
18 1
19 1

In [1]:
#can concatenate tuples
greeting = ("hello","hi","heyy")
gg = ("byee","tattata","alvida")
print(greeting+gg)

('hello', 'hi', 'heyy', 'byee', 'tattata', 'alvida')

In [2]:
len(gg)

3

In [8]:
gg.index("alvida")

2

In [7]:
marks = (1,2,3,4,4,4,2,1,3,4,53,3,2,4,5,2)
marks.count(4)`

5

In [8]:
n = int(input())
pt = "*"
for i in range(n):
    print((pt*i).rjust(n-1)+pt)

5
    *
   **
  ***
 ****
*****

In [10]:
n = int(input())
pt = "*"
for i in range(n):
    print((pt*i).rjust(n-1))

5

   *
  **
 ***
****

In [3]:
# to check wheter tuple is empty or not
c = ()
if not c:
    print(1)

1