In [1]:
install sqlite3 lib
# ! pip sqlite3

In [25]:
import sqlite3
# establishing a database connection or creating database
con = sqlite3.connect('D:\\TEST1.db')
# preparing a cursor object
cursor = con.cursor()

In [15]:
# preparing sql statements
sql1 = 'DROP TABLE IF EXISTS EMPLOYEE'
sql2 = '''
       CREATE TABLE EMPLOYEE (
       EMPID INT(6) NOT NULL,
       NAME CHAR(20) NOT NULL,
       AGE INT,
       SEX CHAR(1),
       INCOME FLOAT
       )
      '''

# executing sql statements
cursor.execute(sql1)
cursor.execute(sql2)

# closing the connection
con.close()

In [20]:
# To inserts single records at once use execute method of cursor
# establishing the connection
con = sqlite3.connect('D:\\TEST1.db')
# preparing a cursor object
cursor = con.cursor()
# preparing sql statement
rec = (456789, 'Frodo', 45, 'M', 100000.00)
sql = '''
      INSERT INTO EMPLOYEE VALUES ( ?, ?, ?, ?, ?)
      '''

# executing sql statement using try ... except blocks
try:
    cursor.execute(sql, rec)
    con.commit()

except Exception as e:
    print("Error Message :", str(e))
    con.rollback()

# closing the database connection
con.close()

In [21]:
# To inserts many records at once use executemany method of cursor
con = sqlite3.connect('D:\\TEST1.db')
cursor = con.cursor()

# preparing sql statement
records = [(123456, 'John', 25, 'M', 50000.00),
    (234651, 'Juli', 35, 'F', 75000.00),
    (345121, 'Fred', 48, 'M', 125000.00),
    (562412, 'Rosy', 28, 'F', 52000.00)]

sql = '''
       INSERT INTO EMPLOYEE VALUES ( ?, ?, ?, ?, ?)
      '''

# executing sql statement using try ... except blocks
try:
    cursor.executemany(sql, records)
    con.commit()

except Exception as e:
    print("Error Message :", str(e))
    con.rollback()

# closing the database connection
con.close()

In [31]:
#can't fetch data from 
con = sqlite3.connect('D:\\TEST1.db')
# preparing a cursor object
cursor = con.cursor()
# preparing sql statement
sql = '''
       SELECT * FROM EMPLOYEE
      '''
# executing the sql statement using `try ... except`
try:
    cursor.execute(sql)
except:
    print('Unable to fetch data.')

In [32]:
# fetching the records
records = cursor.fetchall()

# Displaying the records
for record in records:
    print(record)

# closing the connection
con.close()

(123456, 'John', 25, 'M', 50000.0)
(234651, 'Juli', 35, 'F', 75000.0)
(345121, 'Fred', 48, 'M', 125000.0)
(562412, 'Rosy', 28, 'F', 52000.0)

In [ ]:
#3
import sys
import os
import sqlite3

def main():
    conn = sqlite3.connect('SAMPLE.db')
    cursor = conn.cursor()

    cursor.execute("drop table if exists ITEMS")
    
    sql_statement = '''CREATE TABLE ITEMS
    (item_id integer not null, item_name varchar(300), 
    item_description text, item_category text, 
    quantity_in_stock integer)'''
    
    cursor.execute(sql_statement)

    items = [(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3),
             (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5),
             (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10),
             (104, 'Mic canvas', 'Mic canvas', 'Tab', 5),
             (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)]
  
    try:
        cursor.executemany("Insert into ITEMS values (?,?,?,?,?)", items)
        conn.commit()
        #Add code to select items here
        cursor.execute("SELECT * FROM ITEMS WHERE ITEM_ID<103")
    except:
        return 'Unable to perform the transaction.'
    rowout=[]     
    for row in cursor.fetchall():
        rowout.append(row)
    return rowout    
    conn.close()


'''For testing the code, no input is required'''
if __name__ == "__main__":
    f = open(os.environ['OUTPUT_PATH'], 'w')
    res = main();
    f.write(str(res) + "\n")
    f.close()

In [ ]:
#5
import sys
import os
import sqlite3

def main():
    conn = sqlite3.connect('SAMPLE.db')
    cursor = conn.cursor()

    cursor.execute("drop table if exists ITEMS")
    
    sql_statement = '''CREATE TABLE ITEMS
    (item_id integer not null, item_name varchar(300), 
    item_description text, item_category text, 
    quantity_in_stock integer)'''
    
    cursor.execute(sql_statement)

    items = [(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3),
             (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5),
             (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10),
             (104, 'Mic canvas', 'Mic canvas', 'Tab', 5),
             (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)]
  
    try:
        cursor.executemany("Insert into ITEMS values (?,?,?,?,?)", items)
        cursor.executemany("update ITEMS set quantity_in_stock = ? where item_id = ?",
                       [(4, 103),
                        (2, 101),
                        (0, 105)])
        #Add code below to delete items
        cursor.execute("DELETE FROM ITEMS WHERE ITEM_ID=? ", [(105)])
        cursor.execute("select item_id from ITEMS")
    except:
        return 'Unable to perform the transaction.'
    rowout=[]     
    for row in cursor.fetchall():
        rowout.append(row)
    return rowout    
    conn.close()

'''For testing the code, no input is required'''
if __name__ == "__main__":
    f = open(os.environ['OUTPUT_PATH'], 'w')
    res = main();
    f.write(str(res) + "\n")
    f.close()