In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
%matplotlib inline
# import warnings
# warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('time_series_2019-ncov-Confirmed.csv')

In [4]:
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,NaN,Thailand,15,101,2,3,5,7,8,8,...,75,82,114,147,177,212,272,322,411,599
1,NaN,Japan,36,138,2,1,2,2,4,4,...,701,773,839,825,878,889,924,963,1007,1086
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,200,212,226,243,266,313,345,385,432,455
3,NaN,Nepal,28.1667,84.25,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,2
4,NaN,Malaysia,2.5,112.5,0,0,0,3,4,4,...,197,238,428,566,673,790,900,1030,1183,1306
5,British Columbia,Canada,49.2827,/123.1207,0,0,0,0,0,0,...,64,64,73,103,103,186,231,271,424,424
6,New South Wales,Australia,/33.8688,151.2093,0,0,0,0,3,4,...,92,112,134,171,210,267,307,353,436,533
7,Victoria,Australia,/37.8136,144.9631,0,0,0,0,1,1,...,36,49,57,71,94,121,121,121,229,296
8,Queensland,Australia,/28.0167,153.4,0,0,0,0,0,0,...,35,46,61,68,78,94,144,184,221,221
9,NaN,Cambodia,11.55,104.9167,0,0,0,0,0,1,...,5,7,7,7,33,35,37,51,53,84
10,NaN,Sri Lanka,7,81,0,0,0,0,0,1,...,6,10,18,28,44,51,60,73,77,82
11,NaN,Germany,51,9,0,0,0,0,0,1,...,3675,4585,5795,7272,9257,12327,15320,19848,22213,24873
12,NaN,Finland,64,26,0,0,0,0,0,0,...,155,225,244,277,321,336,400,450,523,626
13,NaN,United Arab Emirates,24,54,0,0,0,0,0,0,...,85,85,98,98,98,113,140,140,153,153
14,NaN,Philippines,13,122,0,0,0,0,0,0,...,64,111,140,142,187,202,217,230,307,380
15,NaN,India,21,78,0,0,0,0,0,0,...,82,102,113,119,142,156,194,244,330,396
16,NaN,Italy,43,12,0,0,0,0,0,0,...,17660,21157,24747,27980,31506,35713,41035,47021,53578,59138
17,NaN,Sweden,63,16,0,0,0,0,0,0,...,814,961,1022,1103,1190,1279,1439,1639,1763,1934
18,NaN,Spain,40,/4,0,0,0,0,0,0,...,5232,6391,7798,9942,11748,13910,17963,20410,25374,28768
19,South Australia,Australia,/34.9285,138.6007,0,0,0,0,0,0,...,16,19,20,29,29,37,42,50,67,100
20,NaN,Belgium,50.8333,4,0,0,0,0,0,0,...,559,689,886,1058,1243,1486,1795,2257,2815,3401
21,NaN,Egypt,26,30,0,0,0,0,0,0,...,80,109,110,150,196,196,256,285,294,327
22,From Diamond Princess,Australia,35.4437,139.638,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,Lebanon,33.8547,35.8623,0,0,0,0,0,0,...,77,93,110,99,120,133,157,163,187,248
24,NaN,Iraq,33,44,0,0,0,0,0,0,...,101,110,116,124,154,164,192,208,214,233
25,NaN,Oman,21,57,0,0,0,0,0,0,...,19,19,22,22,24,39,48,48,52,55
26,NaN,Afghanistan,33,65,0,0,0,0,0,0,...,7,11,16,21,22,22,22,24,24,40
27,NaN,Bahrain,26.0275,50.55,0,0,0,0,0,0,...,189,210,214,214,228,256,278,285,305,332
28,NaN,Kuwait,29.5,47.75,0,0,0,0,0,0,...,80,104,112,123,130,142,148,159,176,188
29,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,26,37,48,54,60,74,87,90,139,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,NaN,Djibouti,11.8251,42.5903,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
458,NaN,"Gambia, The",13.4432,/15.3101,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
459,Montserrat,United Kingdom,16.7425,/62.1874,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
460,NaN,"Bahamas, The",25.0343,/77.3963,0,0,0,0,0,0,...,0,0,0,1,1,1,3,3,4,4
461,Greenland,Denmark,71.7069,/42.6043,0,0,0,0,0,0,...,0,0,0,1,1,1,2,2,2,4
462,New Caledonia,France,/20.9043,165.618,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,4,4
463,Bermuda,United Kingdom,32.3078,/64.7505,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2
464,NaN,Chad,15.4542,18.7322,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
465,NaN,El Salvador,13.7942,/88.8965,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,3,3
466,NaN,Fiji,/17.7134,178.065,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,2
467,NaN,Nicaragua,12.8654,/85.2072,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2,2
468,NaN,Madagascar,/18.7669,46.8691,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,3,3
469,NaN,Haiti,18.9712,/72.2852,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
470,NaN,Angola,/11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,2
471,NaN,Cabo Verde,16.5388,/23.0418,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3,3
472,Sint Maarten,Netherlands,18.0425,/63.0548,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
473,NaN,Niger,17.6078,8.0817,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
474,NaN,Papua New Guinea,/6.315,143.9555,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
475,Isle of Man,United Kingdom,54.2361,/4.5481,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,5
476,NaN,Zimbabwe,/20,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,3,3
477,Northwest Territories,Canada,64.8255,/124.8457,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
478,NaN,Cape Verde,15.1111,/23.6167,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
479,NaN,East Timor,/8.55,125.56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
480,NaN,Eritrea,15.1794,39.7823,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
481,NaN,Uganda,1,32,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
482,NaN,Dominica,15.415,/61.371,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
483,NaN,Grenada,12.1165,/61.679,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
484,NaN,Mozambique,/18.6657,35.5296,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
485,NaN,Syria,34.8021,38.9968,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
486,NaN,Timor/Leste,/8.8742,125.7275,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [6]:
df.shape

(487, 65)

In [7]:
df=df.drop(['Province/State','Lat','Long'], axis=1)

In [ ]:
x=df['Country/Region']
y=df.iloc[:,1:]

In [ ]:
print(x.shape)
print(y.shape)

In [ ]:
plt.style.use('seaborn-whitegrid')
x_val=range(len(x))
plt.figure(figsize=(60,45))
ax=plt.subplot(1,1,1)
plt.plot(x_val,y)
ax.set_xticks(x_val)
ax.set_xticklabels(x, rotation=60)
plt.show()

In [ ]:
plt.plot(df1.head(10))
plt.show()

In [ ]:
x=range(len('Country/Region')
y= df.iloc[:,1]
plt.plot(x,y)
plt.show()

In [9]:
uniqueValues, occurCount = np.unique(df['Country/Region'], return_counts=True)
print("Unique Values : " , uniqueValues)
print("Occurrence Count : ", occurCount)

Unique Values :  ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Brazil'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Congo (Brazzaville)' 'Congo (Kinshasa)' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cruise Ship' 'Cuba' 'Cyprus' 'Czechia'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic' 'East Timor'
 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia, The'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guyana' 'Haiti' 'Holy See' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, South' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Liberia' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malaysia' 'Maldives' 'Malta' 'Martinique'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Namibia' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Lucia' 'Saint Vincent and the Grenadines' 'San Marino'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia'
 'Slovenia' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan*' 'Tanzania' 'Thailand'
 'Timor/Leste' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'US'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'Uruguay'
 'Uzbekistan' 'Venezuela' 'Vietnam' 'Zambia' 'Zimbabwe']
Occurrence Count :  [  1   1   1   1   1   1   1   1   9   1   1   1   1   1   1   1   1   1
   1   1   1   1   1   1   1   1   1   1  12   1   1   1   1  33   1   1
   1   1   1   1   1   1   1   1   3   1   1   1   1   1   1   1   1   1
   1   1   1   1   1   9   1   1   1   1   1   1   1   1   1   1   1   1
   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
   1   1   1   1   1   4   1   1   1   1   1   1   1   1   1   1   1   1
   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1 247   1
   1   1   7   1   1   1   1   1   1]

In [11]:
df= (df.groupby('Country/Region').apply(lambda x: x.iloc[:,0].apply(lambda y: y.nunique(dropna=False))))
pd.set_option('display.max_rows',None)

AttributeError: 'int' object has no attribute 'nunique'

In [ ]:
df.shape

In [ ]:

# for i in df.columns[1:]:
# #     print(df[i].sum())
#     if df[i].sum() < 0.7*(df[i].sum()):
#         df.drop([i],axis=1)
count=0
for i in df.columns[1:]:
    for row in df[i]:
        if(row==0):
            count+=1
if(count>(0.7*171)):
    df.drop([i],axis=1)

In [1]:
df.shape

NameError: name 'df' is not defined

In [ ]:
plt.plot(df.head(10))
plt.xticks(rotation=50)
plt.show()

In [ ]:
df

In [ ]:
a=df.iloc[:,0]
x_val = range(len(a))

In [ ]:
b=df.iloc[:,1:]
y_val = range(len(a))

In [ ]:
x_val